ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
display: inline;
margin: 0;
padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-linkedin-square:hover{
    color: #4977dad0;
}

.fa-github:hover{
    color: black;
}

.bg-cor{
    background: linear-gradient(to right, #8e2de2, #4a00e0)
}

.bg-cor2{
    background-color: #582a6b;
}