@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

.fs-13{
    font-size: 13pt;
    font-family: Poppins;
}


ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
display: inline;
margin: 0;
padding: 5px;
}

.fa{
    font-size: 27pt;
    color: white;
    padding: 8px;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-linkedin-square:hover{
    color: #4977dad0;
}

.fa-github:hover{
    color: black;
}

.bg-cor{
    background: linear-gradient(to right, #7E7EA0, #B26FEB)
}

.bg-cor2{
    background-color: #141414;
}