@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

.fs-13{
    font-size: 13pt;
    font-family: Poppins;
}

.fs-16{
    font-size: 16pt;
}

a{
    cursor: pointer;
}

.bg-cor{
   background-color: #7E7EA0;
    /* background: linear-gradient(to right, #8e2de2, #4a00e0) */
}