@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

.fs-13{
    font-size: 45pt;
    font-family: Poppins;
}

.bv{
    background-color: #F3F3F6;
}

.bt{
    background-color: transparent;
    border-top: violet solid 1px;
    border-bottom: violet solid 1px;
    
   
}
.bt:hover{
    background-color:#E79DE7;
    text-decoration-color: aliceblue;
}