@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

.fs-13{
    font-size: 45pt;
    font-family: Poppins;
}

.fs-18{
    font-size: 18pt;
    font-family: Poppins;
}


.bv{
    background-color: #F3F3F6;
}

.ct{
    color: whitesmoke;
}